{% extends 'base.html' %}

{% block content %}
<h1>Emails</h1>

{% if emails %}


<div class="col-left">
  <h2>Your Custom Emails</h2>
  {% for email in emails %}
  <ul>
    <li>{{email}}</li>
  </ul>
  {% endfor %}
</div>
<div class="col-right">
  <h2>Create a Custom Email</h2>
  <form action="/emails" method="post">{% csrf_token %}
    {{form.subject.errors}} {{form.subject}}
    {{form.header.errors}} {{form.header}}
    {{form.content.errors}} {{form.content}}
    {{form.signature.errors}} {{form.signature}}
    <input name="create" type="submit" value="Create Identity">
  </form>
</div>

{% else %}

<h2>Create a Custom Email</h2>
<form action="/emails" method="post">{% csrf_token %}
  {{form.subject.errors}} {{form.subject}}
  {{form.header.errors}} {{form.header}}
  {{form.content.errors}} {{form.content}}
  {{form.signature.errors}} {{form.signature}}
  <input name="create" type="submit" value="Create Identity">
</form>

{% endif %}

{% endblock %}
