{% extends 'base.html' %}

{% block content %}
<h1>Site Hosting</h1>
<p>Ut non metus pulvinar, tincidunt nibh eu, facilisis dolor. Quisque iaculis odio eget turpis interdum consectetur. Fusce volutpat egestas risus a sollicitudin. In hac habitasse platea dictumst. Suspendisse interdum molestie arcu ac sodales. Etiam sed libero dolor. Fusce at ante a enim placerat egestas. Morbi pretium, eros quis elementum convallis, sem magna feugiat nibh, vitae maximus risus quam in nisi.
</p>

{% endblock %}
