{% extends 'base.html' %}

{% block content %}
<h1>Your Identities</h1>
<p>
Sed hendrerit lorem elit, vel tincidunt ipsum elementum at. Praesent tristique nec nunc et dignissim. Vestibulum ac congue ligula, id egestas nunc. Duis lacinia consectetur bibendum. Suspendisse fermentum fringilla condimentum. Morbi placerat consequat ligula, non rhoncus arcu euismod et. Sed nec pretium diam. Quisque sagittis condimentum malesuada. Aliquam efficitur mattis augue, eu rhoncus elit. Aliquam sed rhoncus augue. Sed consequat ultricies nunc, auctor tincidunt eros. Proin feugiat ipsum quis nibh commodo, sed blandit tortor pretium.
</p>

{% endblock %}
