{% extends 'base.html' %}

{% block content %}
<h1>What is SocEM?</h1>
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ullamcorper, orci non accumsan ultricies, tellus dolor mollis elit, sit amet placerat nisi nulla non metus. Vivamus nulla elit, imperdiet id hendrerit sit amet, vestibulum nec augue. Vivamus ex nisi, ultricies vitae massa at, convallis volutpat elit. Pellentesque eget purus vitae purus mollis ullamcorper. Vivamus ut dignissim eros, nec fermentum felis. In hac habitasse platea dictumst. Nullam aliquam ipsum scelerisque varius viverra. Curabitur eget mauris in ante laoreet suscipit quis vitae sapien. Vestibulum accumsan consequat massa, ac euismod est cursus ut.</p>

<p>Morbi eros lacus, sodales eu velit eu, tempor porta nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec vulputate porttitor nisl, et interdum risus tempor non. Pellentesque at nisl at felis molestie gravida eu sit amet dolor. Maecenas venenatis auctor purus, eu fringilla elit. Phasellus tempor quis augue eu iaculis. Suspendisse vitae lacus eget lacus consequat consectetur. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam et purus sollicitudin, sodales risus vitae, fringilla odio. Nunc malesuada sit amet est mattis porta.</p>



{% endblock %}
