{% extends 'base.html' %}

{% block content %}
<h1>Victim Profiles</h1>
<p>
  Ut volutpat, nisl ut scelerisque iaculis, dui tortor venenatis arcu, ut ornare erat sapien vitae ligula. Duis eget lacinia risus. Pellentesque efficitur aliquet odio ac ultricies. Phasellus nec imperdiet orci. Quisque congue blandit eros eget euismod. Fusce consequat orci ac erat interdum, eget suscipit quam vestibulum. Pellentesque non dui consectetur, aliquam lorem non, consectetur turpis. Praesent sapien ante, scelerisque ac feugiat posuere, faucibus quis velit. Nulla et tincidunt sapien. Nunc mollis congue nunc in auctor. Fusce eu varius lacus. Maecenas sit amet suscipit leo, sit amet mattis tortor.
</p>
<p>
Maecenas ullamcorper posuere feugiat. Curabitur ornare a tortor nec efficitur. Donec egestas justo id justo rutrum lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fringilla ante in tempus facilisis. Integer vel ante id ligula gravida porta a ut magna. Quisque cursus iaculis magna, sit amet egestas nibh placerat vitae. Vestibulum vulputate dolor vel sapien molestie, et efficitur leo lobortis. Mauris elementum scelerisque fringilla. Suspendisse sit amet turpis enim. Phasellus porta massa congue dui egestas, cursus gravida nisl rutrum. Vestibulum eget aliquet lacus, a elementum neque. Maecenas non laoreet nisi. Cras vehicula faucibus dapibus. Donec at maximus lorem. Sed mattis feugiat luctus.
</p>
{% endblock %}
